@use "custom" as *;

// IMPORT COMPONENTS

@use "components/animations";
@use "components/buttons";
@use "components/mixins";


// IMPORT SECTIONS

@use "sections/navbar";
@use "sections/intro";
@use "sections/services";
@use "sections/contact";
@use "sections/casestudies";
@use "sections/workingprocess";
@use "sections/team";
@use "sections/testimonials";
@use "sections/contactus";
@use "sections/footer";

// FONT

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

body {
  font-family: $font-family-space-grotesk;
}

.section-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: clamp(20px, 4vw, 100px);
  padding-right: clamp(20px, 4vw, 100px);
  box-sizing: border-box;
}
.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.title-container{
    display: flex;
    align-items: center;    
    gap: 20px;   
}
.title-description{
    width:580px;
    padding-top:4px;
}