@use "../custom.scss" as *;
.contact-section-2 {
    padding-top: 120px;
}

.contact-section-2 .rounded-5.bg-primary {
  padding: 0px 60px;
  height: 347px;
  width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center; // Vertically center children
}

.contact-section-2 .rounded-5.bg-primary .align-items-center {
  padding: 0px 60px;
  height: 347px;
}

.contact-text-section {
  gap: 26px;
  height: 227px;
  width: 500px;

}
.contact-btn{
    border-radius: 14px;
}
.image-box{
    padding-right: 75px;
}