@use "../custom.scss" as *;

.contact-section {
    border: none;
    height:347px;
    position:relative;
}   
.contact-section .image-box{
    position: relative;
    height:347px;
    overflow: visible;
}

.contact-section .contact-img {
  position: absolute;
  top: 50%;
  right: -40px;
  height: 400px;
  width: auto;
  transform: translateY(-50%);
  z-index: 2;
  max-width: none;
}

.contact-section .rounded-5 {
    height: auto;
    overflow: visible; 
    min-height: 347px;
    max-height: auto;
    display: flex;
    align-items: center;
    padding: 60px 60px; 
}

.contact-text-section{
    margin-left:60px;
}