@use "../custom.scss" as *;

.fluid-margin {
    margin: 0, 40px;
}

.intro-section{
    padding: 70px 100px 0px 100px;
    height: 771px;
    min-height: 771px;
}
.logos-margin{
    margin-top:70px;
}

.intro-section .intro-text {
  width: 531px;
  height: 481px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:35px;
}

.intro-section .intro-logo {
  width: 600px;
  height: 515px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-section .row.align-items-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intro-text{
  margin-right: auto;
}

.row > * {
 padding-right: 0;
 padding-left: 0;
}
.intro-text{
    h5{
        width: 498px;
        height: 112px;
        margin: 0;
    }
}

.logos-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:48px;
  padding-left: 0;
  padding-right: 0;
}
.logo-svg {
  height: 48px;
  width:auto;
  display: inline-block;
  object-fit: contain;
  fill: $gray-900;
}

@media (max-width: 1000px) {
  .intro-section{
    padding: 0px 100px 0px 100px;
    min-height: 1200px;
}
  .intro-contents{
    display: flex;
    flex-direction:column !important;
  }
  .logos-row{
    flex-wrap:wrap;
  }
  .logo-svg{
    max-width: 150px;
  }
}