@use "../custom.scss" as *;

mark{
    background: $secondary;
}

.title-mark{
    background:$secondary;
    padding: 4px 7px;
    border-radius: 5px;
}

.services-section{
    padding-top:140px;
}

.services-card {
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    height: 310px;
    padding: 50px;
    border: solid 1px $gray-900;
    box-shadow: 0px 3px 0px $gray-900;
    border-radius: 45px;
}

.services-cards-column{
    display:flex;
    flex-direction:column;
    gap:40px;
}

mark{
    border-radius: 7px;
}

.services-card-primary{
    background: $primary;
}

.services-cards-container{
    display:flex;
    flex-direction:row;
    gap: 40px 40px;
    padding-top:80px;
}

.services-card-secondary{
    background: $secondary;
    mark{
        background: $white;
    }
}

.services-card-black{
    background: $gray-900;
    color: $primary;
    .card-text{
        color: $primary;
    }
}

.services-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 93px; // vertical gap between title and button
}

.services-cards-container > .col:nth-child(3) .services-card mark {
  background: $white;
  color: $gray-900; // optional for contrast
}