@use "../custom.scss" as *;

.team-title-container{
    display: flex;
    align-items: center;    
    gap: 20px;  
    margin-bottom:85px;
}
.team-title-description{
    width:580px;
    padding-top:4px;
}

.team-section {
  padding-top: 140px;
}

.bg-green {
  background: $secondary;
  color: $gray-900;
  border-radius: 7px;
  padding: 0 8px;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  padding:40px 35px;
  border-radius:45px;
}

.team-icon {
  position: absolute;
  top: 16px;
  right: 16px;
}

.team-desc {
  font-size: 0.95rem;
  color: $gray-700;
}
.team-img {
  flex-shrink: 0;
}