@use "../custom.scss" as *;


.team-section {
  padding-top: 140px;
}

.team-cards-container{
  margin-top: 80px;
  display:flex;
  flex-direction:row; 
  flex-wrap: wrap;
  gap: 40px 40px;

}

.team-member-card{
  box-shadow: 0px 4px $gray-900;
  border: 1px solid $gray-900;
  border-radius: 45px;
  width:387px;
  padding:40px 35px;
  display:flex;
  flex-direction:column;
  gap:28px;
}

.team-member-title{
  display:flex;
  flex-direction:column;
  
}
.team-member-title h5{
  margin-top:auto;
  margin-bottom:0px;
}

.team-member-title p{
  margin-bottom:0px;
}

.team-member-photo-title{
  display:flex;
  flex-direction:row;
  gap:20px;
}

.horizontal-line{
  background: $gray-900;
  height: 1px;
  width: 100%;
}

.team-member-card .team-member-description{
  width:315px;
  height:135px;
}

.team-member-card .team-member-description p{
  font-size: 18px;
  margin-bottom: 0px;
}

@media (max-width:1000px){
  .team-cards-container {
    flex-direction: column;
    align-items: center;
    text-align:center;
  }

  .team-member-card {
    width: 100%;
    max-width: 400px;
  }
}