@use "../custom.scss" as *;
.testimonials-section{
  padding-top:208px;
}

.testimonials-title-container{
    display: flex;
    align-items: center;    
    gap: 20px;  
    margin-bottom:85px;
}
.testimonials-title-description{
    width:580px;
    padding-top:4px;
}

.testimonials-card{
  position:relative;
  background: $gray-900;
  border-radius: 45px;
  padding-top: 84px;
  padding-bottom: 68px;
  margin-top: 80px;
  height: 625px;
  width: 100%;
  overflow:hidden;
}

.speech-bubble-container{
  position:relative;
  width:3280px;
  height:335px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  left:-350px;
}
.scrolling-bar{
  margin-top:124px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  width:564px;
}

.testimonials-left-arrow{
  transform:rotate(180deg)
}
.testimonials-star-container{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  gap:14px;
  width:146px;
}

.testimonials-star{
  width:14px;
  height:14px;
}

.speech-bubble {
  position: relative;
  display: inline-block;
}

.speech-bubble img {
  display: block;
  width: 100%;
  height: auto;
}

.speech-bubble-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding:52px 48px;
}

.speech-bubble-author{
  margin-top:20px;
  margin-left: 80px;
}

.testimonials-star-active{
  fill: red;
}