@use "../custom.scss" as *;


.navbar-button{
    border: 1px solid $gray-900;
    height: 100%;
    padding: 0 40px;
}

.intro-btn{
    background: $gray-900;
    color: $primary;
    padding: 20px 40px;
}
.intro-btn:hover {
    background: $secondary;
    color: $gray-900;
}